html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p{
  font-size: 20px;
}
.navbar {
  overflow-y: auto;
  background-color: black;
}

.navbar a {
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FDC513;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#me-image{
  height:400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

p.note {
  margin-left: auto;
  margin-right: auto;
}

#banner-image{
  width: 100%;
  display: block;
}
#add-image{
  width: 100%;
  display: block;
}

#sketchband-image{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#big-image{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#screenshot{
  max-height: 500px;
  display: block;
  float:left;
}
#video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media{
  width: 100%;
  display: block;
  float: left;
}
#smallish-image{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
  #half-image{
    width: 49%;
  }
